
html, body {
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: rgb(245, 241, 231);
  padding: 5%;
}

section {
  background-color: rgb(198, 222, 222);
  margin: 5%;
}

a {
  color: black;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: flex-start;
}